# Add vscode workspace settings
!.vscode/*.code-workspace

# Python compiled files
**.pyc

# Provisioning
/ansible/roles/*
/ansible/*.retry
# Requirements need to be stored in the repo
!/ansible/roles/requirements.yml

# Tests
/ansible/inventory/group_vars/test
/ansible/inventory/test
/ansible/test.yml

# Pipenv
/.venv

# Vagrant
.vagrant/

# Project specific
Taskfile.yml
.env
known_hosts
